# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
mirakuru==2.2.0
port-for==0.4
pytest==5.4.1
pytest-cov==2.8.1
coverage==5.0.3 # pytest-cov
pytest-xdist==1.31.0
Mock==4.0.2
redis==3.4.1
-e .[tests]
