# test runs requirements (versions we'll be testing against) - automatically updated by requires.io
mirakuru==2.4.1
port-for==0.6.1
pytest==6.2.5
pytest-cov==3.0.0
coverage==6.1.2 # pytest-cov
pytest-xdist==2.4.0
Mock==4.0.3
redis==4.0.1
-e .[tests]
