name: Run tests

on:
  push:
    branches: [ main ]
    paths:
      - '**.py'
      - .github/workflows/tests.yml
      - requirements-test.txt
  pull_request:
    branches: [ main ]

jobs:
  download_redis:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Cache Download and build Redis
      uses: actions/cache@v3
      with:
        path: ~/redis
        key: redis-${{ hashFiles('.download-redis.sh') }}
    - name: Download and build Redis
      run: ./.download-redis.sh
  install_py:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", pypy-3.8]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Get pip cache dir
        id: pip-cache
        run: echo "dir=$(pip cache dir)" >> $GITHUB_OUTPUT
      - name: pip cache
        uses: actions/cache@v3
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key: pip-${{ matrix.python-version }}-${{ hashFiles('requirements-*.txt') }}
          restore-keys: |
            pip-${{ matrix.python-version }}-
  tests_7:
    needs: [download_redis, install_py]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", pypy-3.8]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          redis: "7"
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
  tests_6:
    needs: [tests_7]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10", pypy-3.8]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          redis: "6.2"
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
  tests_5:
    needs: [tests_7]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          redis: "5"
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
  tests_4:
    needs: [tests_5]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          redis: "4"
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
  tests_3:
    needs: [tests_4]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          redis: "3.2"
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
  tests_2:
    needs: [tests_3]
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10"]
    env:
      OS: ubuntu-latest
      PYTHON: ${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/pytest
        with:
          python-version: ${{ matrix.python-version }}
          redis: "2.8"
          codecov_token: ${{ secrets.CODECOV_TOKEN }}
